{% extends 'base.html' %}

{% block content %}
<section class="hero">
  <div class="hero-content">
    <h2 class="greeting">HI THERE 👋 I'm</h2>
    <h2><b>ATHARV NIKAM </b></h2>
    <h2>FRONT END DEVELOPER</h2>
    <p class="description">Crafting sleek and responsive web experiences that blend creativity with functionality. Let's
      build something amazing together.</p>
    <div class="buttons">
      <a href="#" class="btn hire-me">HIRE ME</a>
      <a href="#" class="btn get-cv">GET CV</a>
    </div>
  </div>
  <div class="hero-image">
    <img src=" static\images\hero img.avif " alt="Atharv Nikam">
  </div>
</section>
{% endblock %}